/* contact-section css start */
.contact-section {
    padding: 32px 0 0 0;
}

.contact-section .container {
    max-width: 100%;
}

.contact-wrap {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.contact-img {
    grid-column: span 3;
    width: 100%;
}

.contact-content-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    grid-column: span 2;
}

.contact-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 12px;
}

.contact-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 325px;
}

.contact-mail {
    margin-top: 60px;
    font-size: 16px;
    font-weight: 700;
    color: var(--paragraph-text-color);
    display: inline-block;
}

.contact-mail:hover {
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-field-col {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--black);
}

.contact-field-col input {
    width: 100%;
}

/* contact-section css end */

@media only screen and (max-width: 992px) {
    .contact-wrap .blank {
        display: none;
    }

    .contact-content-wrap {
        grid-column: span 3;
    }
}

@media only screen and (max-width: 575px) {

    /* contact-section css start */

    .contact-wrap {
        gap: 32px;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-content-wrap {
        gap: 100px;
        grid-column: span 1;
    }

    .contact-text {
        max-width: 100%;
    }

    .contact-img {
        max-width: 100%;
        grid-column: span 1;
    }

    .contact-img img {
        aspect-ratio: 1/0.8299;
    }

    /* contact-section css end */
}