/* img-grid-section css start */
.img-grid-section {
    padding: 160px 0;
}

.img-grid-wrap {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 14px;
    /* max-width: 940px; */
    width: 100%;
    /* margin: 0 auto; */
}

.img-grid-item {
    grid-column: span 2;
    width: 100%;
}

/* img-grid-section css end */

@media only screen and (max-width:992px) {

    /* img-grid-section css start */
    .img-grid-section {
        padding: 80px 0;
    }

    .img-grid-wrap .blank {
        display: none;
    }

    .img-grid-item {
        grid-column: span 3;
    }

    /* img-grid-section css end */
}