/* img-text-section3 css start */
.img-text-section3 {
    padding: 80px 0 0;
}

.img-text-wrap3 {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.img-text-content3 {
    max-width: 304px;
    width: 100%;
    grid-column: span 2;
}

.img-text-content3-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 12px;
}

.img-text-content3-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.img-text-section3-qr .img-text-content3-wrap {
    gap: 0;
}

.img-text-content3-wrap p {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
}

.img-text-content3-wrap ul {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    list-style-type: disc;
    margin-top: 8px;
}

.img-text-content3-wrap ul li {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: var(--paragrapht-text-color);
}

.img-text-content3-btn {
    margin-top: 20px;
}

.img-text-content3-btn .link {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 17px;
    text-decoration: underline;
    color: var(--black);
}

.img-text-content3-btm {
    margin-top: 160px;
    max-width: 192px;
}

.img-text-content3-btm a {
    color: var(--paragrapht-text-color);
    text-decoration: underline;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

.img-text-img3 {
    width: 100%;
    grid-column: span 4;
}

/* img-text-section3 css end */

@media only screen and (max-width: 992px) {

    /* img-text-section3 css start */
    .img-text-section3 {
        padding: 40px 0 0;
    }

    /* img-text-section3 css end */
}

@media only screen and (max-width: 575px) {

    /* img-text-section3 css start */
    .img-text-wrap3 {
        gap: 40px;
        grid-template-columns: repeat(1, 1fr);
    }

    .img-text-content3 {
        text-align: center;
        grid-column: span 1;
        max-width: 100%;
    }

    .img-text-section3-qr .img-text-content3 {
        text-align: left;
    }

    .img-text-content3-wrap {
        gap: 20px;
    }

    .img-text-content3-wrap p:nth-child(3) {
        margin: 0 auto;
        letter-spacing: 0.3px;
    }

    .img-text-content3-wrap p:last-child {
        max-width: 285px;
        margin: 0 auto;
    }

    .img-text-content3-btm {
        margin-top: 32px;
    }

    .img-text-img3 {
        grid-column: span 1;
    }

    /* img-text-section3 css end */
}