/* img-text-section css start */
.img-text-section2 {
    padding: 160px 0 80px;
}

.img-text-wrapper2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.img-text-content2 {
    margin-top: 60px;
}

.img-text-content2 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.img-text-img2 {
    grid-column: span 3;
    width: 100%;
}

/* img-text-section css end */

@media only screen and (max-width:992px) {

    /* img-text-section css start */
    .img-text-section2 {
        padding: 80px 0 40px;
    }

    .img-text-wrapper2 .blank {
        display: none;
    }

    .img-text-content2 {
        grid-column: span 3;
    }
}

/* img-text-section css end */

@media only screen and (max-width: 575px) {

    /* img-text-section css start */
    .img-text-wrapper2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }

    .img-text-content2 {
        margin-top: 0;
        grid-column: span 1;
    }

    .img-text-img2 {
        grid-column: span 1;
    }

    /* img-text-section css end */
}