/* img-text-section css start */
.img-text-section {
    padding: 160px 0;
}

.img-text-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.img-text-content {
    margin-top: 60px;
}

.img-text-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.img-text-img {
    grid-column: span 2;
}

/* img-text-section css end */

@media only screen and (max-width:992px) {

    /* img-text-section css start */
    .img-text-section {
        padding: 80px 0;
    }

    .img-text-wrapper .blank {
        display: none;
    }

    .img-text-content {
        grid-column: span 3;
    }

    .img-text-img {
        grid-column: span 3;
    }

    /* img-text-section css end */
}

@media only screen and (max-width: 575px) {

    /* img-text-section css start */
    .img-text-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }

    .img-text-content {
        margin-top: 0;
        grid-column: span 1;
    }

    .img-text-img {
        grid-column: span 1;
    }

    /* img-text-section css end */
}